<!DOCTYPE html>
<html>
<head>
<head>
<style>
background-color 
h1 {color: blueviolet;}
h1 {text-align: center;}
ul {color: brown;}
ul {text-align: center;}
</style>
</head>
<body>
<h1>Things I wanna do b4 2024</h1>
<ul>
    {% for todo in my_todos %}
        <li>
            {{ todo ['description'] }}
            <form method="POST" action="/delete_todo/{{ todo['id'] }}">
            <input type="submit" value="Delete">
            </form>
        </li>
    {% endfor %}
</ul>
<form method="post">
<input name="new_todo">
<input type="Submit">
</form>
</body>
</html>